.qv-object-SwitchTable div.qv-object-content-container {
	overflow: auto;
}
.qv-object-SwitchTable td,
.qv-object-SwitchTable th {
	border-top: 0px solid #fff;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	vertical-align: middle;
	cursor: default;
	font-size: 12px;
}
.qv-object-SwitchTable td.numeric {
	text-align: right;
}
.qv-object-SwitchTable button {
	width: 100%;
}

.th {
	text-align: center;
}

.OpenRowAction {
	width: 30px;
}
.showme{ 
	display: none;
}

tr:hover .showme{
	display : block;
}
