
<div class="bootstrap_inside" qv-extension style="height: 100%; position: relative; overflow: auto;">

<div class="btn-group" role="group">
  <button type="button" class="btn btn-primary btn-space" ng-click="collapseAll()"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span></button>
  <button type="button" class="btn btn-primary" ng-click="expandAll()"><span class="glyphicon glyphicon-th-large" aria-hidden="true"></span></button>
</div>

 
    
<style>
.striped {
	background-color: {{layout.strippedColor}};
}
</style>

	<table class="table">
		<thead>
		<tr>
		<!--	<th ng-repeat="head in layout.qHyperCube.qDimensionInfo track by $index" qva-activate="head.orderBy()"><h3>{{head.qFallbackTitle}}</h3></th> -->
			<th ng-repeat="(head,value) in myTable[0].TbRow track by $index" qva-activate="head.orderBy()"><h3>{{head}}</h3></th>
		</tr>
		</thead>
		<tbody ng-repeat="row in myTable track by $index">

		<tr ng-class-odd="'striped'">
			<td ng-repeat="cell in row.TbRow track by $index" 
				class="selectable" 
				ng-class="{'selected':cell.selected,'numeric':cell.qNum}" 
				qva-activate="cell.select($event)"> 

					<!--  Questo blocco scrive il valore -->
				  <div ng-show="cell.Valore">
				  	{{cell.Content}}
				  </div>

				  <div ng-show="!cell.Valore">
				  		<!--  Blocco Motori -->
				      <div class="EngContainer" ng-show="!cell.Visualizzazione">
							<button type="button" 	ng-class=cell.Buttons 
													ng-repeat="motore in cell.Content track by $index" 
													ng-click="makeSelection($parent.$index)"
													ng-show="cell.Numerazione">{{cell.Prefisso}}{{$index+1}}</button>

							<button type="button" 	ng-class=cell.Buttons 
													ng-repeat="motore in cell.Content track by $index" 
													ng-click="makeSelection($parent.$index)"
													ng-hide="cell.Numerazione">{{cell.Prefisso}}&nbsp</button>
				      		
				      </div>

				      <!--  Blocco Semaforo -->
				      <div ng-show="cell.Visualizzazione" style="color: {{cell.Colore}}">
				      
				      <svg class="semaforo" width="34" height="34">
				      		<circle ng-click="makeSelection($index)" fill={{cell.Colore}} cx="18" cy="15" r="14"></circle>
				      </svg>
				      		
				      		
				      </div>
				  	  
				  </div>

				</td>

			 	<td ng-show="layout.settings.listFieldPivot.length >0" class="OpenRowAction">
			 		<div class="showme">
			 			<span class="glyphicon glyphicon-plus" aria-hidden="true" ng-click="openRow($index)" ng-show="!row.Open"></span>
			 			<span class="glyphicon glyphicon-minus" aria-hidden="true" ng-click="closeRow($index)" ng-show="row.Open"></span>

			 		</div>
			 	</td>


				<td>

					<table ng-show="(innerTable || row.Open) && layout.settings.posizione" class="table table-striped table-condensed table-hover">
						<thead>
							<tr>
								<th ng-repeat="(innHead,innValue) in myTable[0].SubRec[0]">{{innHead}}</th>
							</th>
						</thead>
						<tbody>
							<tr ng-repeat="innRow in row.SubRec track by $index" ng-click="selectSubRecord($index)">
								<td ng-repeat="innCell in innRow track by $index">{{innCell.Content}}</td>
							</tr>
						</tbody>					
					</table>

				</td>

				
		 </tr>  
		 <tr ng-show="(innerTable || row.Open) && !layout.settings.posizione">

		 	<td colspan="{{numOfColls}}">
					<table  class="table table-striped table-condensed table-hover">
						<thead>
							<tr>
								<th ng-repeat="(innHead,innValue) in myTable[0].SubRec[0]">{{innHead}}</th>
							</th>
						</thead>
						<tbody>
							<tr ng-repeat="innRow in row.SubRec track by $index" ng-click="selectSubRecord($index)">
								<td ng-repeat="innCell in innRow track by $index">{{innCell.Content}}</td>
							</tr>
						</tbody>					
					</table>
			</tr>
		 </tr>


		</tbody>
	</table>
	
</div>
